[submodule "FIR-Filter-Verilog"]
	path = FIR-Filter-Verilog
	url = https://github.com/AlirezaSgh/FIR-Filter-Verilog
[submodule "FIR-Filter"]
	path = FIR-Filter
	url = https://github.com/AlirezaSgh/FIR-Filter-Verilog
